*.json
*.vsidx
*.dll
*.pdb
*.exe
*.v2
*.cache
*.pdb
*.dll
*.txt
*.cache
WinFormsApp1/bin/Debug/net8.0-windows/de/Microsoft.Data.Services.Client.resources.dll
.vs/WinFormsApp1/v17/.suo
WinFormsApp1/bin/Debug/net8.0-windows/de/Microsoft.Data.Edm.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/de/Microsoft.Data.OData.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/de/Microsoft.Data.Services.Client.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/de/Microsoft.Data.Services.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/de/System.Spatial.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/DevExpress.Data.v25.1.dll
WinFormsApp1/bin/Debug/net8.0-windows/DevExpress.Xpo.v25.1.dll
WinFormsApp1/bin/Debug/net8.0-windows/DevExpress.Xpo.v25.1.Extensions.dll
WinFormsApp1/bin/Debug/net8.0-windows/es/DevExpress.Data.v25.1.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/es/DevExpress.Xpo.v25.1.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/es/Microsoft.Data.Edm.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/es/Microsoft.Data.OData.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/es/Microsoft.Data.Services.Client.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/es/Microsoft.Data.Services.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/es/System.Spatial.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/fr/Microsoft.Data.Edm.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/fr/Microsoft.Data.OData.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/fr/Microsoft.Data.Services.Client.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/fr/Microsoft.Data.Services.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/fr/System.Spatial.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/it/Microsoft.Data.Edm.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/it/Microsoft.Data.OData.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/it/Microsoft.Data.Services.Client.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/it/Microsoft.Data.Services.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/it/System.Spatial.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/ja/Microsoft.Data.Edm.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/ja/Microsoft.Data.OData.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/ja/Microsoft.Data.Services.Client.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/ja/Microsoft.Data.Services.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/ja/System.Spatial.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/ko/Microsoft.Data.Edm.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/ko/Microsoft.Data.OData.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/ko/Microsoft.Data.Services.Client.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/ko/Microsoft.Data.Services.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/ko/System.Spatial.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/Microsoft.Data.Edm.dll
WinFormsApp1/bin/Debug/net8.0-windows/Microsoft.Data.OData.dll
WinFormsApp1/bin/Debug/net8.0-windows/Microsoft.Data.Services.Client.dll
WinFormsApp1/bin/Debug/net8.0-windows/Microsoft.Data.Services.dll
WinFormsApp1/bin/Debug/net8.0-windows/ru/Microsoft.Data.Edm.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/ru/Microsoft.Data.OData.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/ru/Microsoft.Data.Services.Client.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/ru/Microsoft.Data.Services.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/ru/System.Spatial.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/System.Spatial.dll
WinFormsApp1/bin/Debug/net8.0-windows/WinFormsApp1.dll
WinFormsApp1/bin/Debug/net8.0-windows/WinFormsApp1.exe
WinFormsApp1/bin/Debug/net8.0-windows/WinFormsApp1.pdb
WinFormsApp1/bin/Debug/net8.0-windows/zh-Hans/Microsoft.Data.Edm.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/zh-Hans/Microsoft.Data.OData.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/zh-Hans/Microsoft.Data.Services.Client.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/zh-Hans/Microsoft.Data.Services.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/zh-Hans/System.Spatial.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/zh-Hant/Microsoft.Data.Edm.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/zh-Hant/Microsoft.Data.OData.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/zh-Hant/Microsoft.Data.Services.Client.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/zh-Hant/Microsoft.Data.Services.resources.dll
WinFormsApp1/bin/Debug/net8.0-windows/zh-Hant/System.Spatial.resources.dll
WinFormsApp1/obj/Debug/net8.0-windows/ref/WinFormsApp1.dll
WinFormsApp1/obj/Debug/net8.0-windows/refint/WinFormsApp1.dll
WinFormsApp1/obj/Debug/net8.0-windows/WinFormsApp1.AssemblyInfoInputs.cache
WinFormsApp1/obj/Debug/net8.0-windows/WinFormsApp1.csproj.CoreCompileInputs.cache
WinFormsApp1/obj/Debug/net8.0-windows/WinFormsApp1.csproj.FileListAbsolute.txt
WinFormsApp1/obj/Debug/net8.0-windows/WinFormsApp1.csproj.GenerateResource.cache
WinFormsApp1/obj/Debug/net8.0-windows/WinFormsApp1.dll
WinFormsApp1/obj/Debug/net8.0-windows/WinFormsApp1.genruntimeconfig.cache
WinFormsApp1/obj/Debug/net8.0-windows/WinFormsApp1.pdb
*.bin
*.dll
*.exe
*.pdb
*.txt
*.cache
*.cs
*.dll
*.exe
