USE [master]
GO
/****** Object:  Database [Sale]    Script Date: 11/7/2025 9:17:41 AM ******/
CREATE DATABASE [Sale]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sale', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Sale.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sale_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Sale_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sale].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sale]
GO
/****** Object:  Table [dbo].[Availability]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Availability](
	[AvailStart] [datetime] NOT NULL,
	[AvailEnd] [datetime] NOT NULL,
	[HallID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[HallID] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hall]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hall](
	[HallID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[TicketLimit] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HallID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HallGroup]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HallGroup](
	[HallID] [int] NOT NULL,
	[HallGroupID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[AZ] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HallGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HallSeat]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HallSeat](
	[HallGroupID] [int] NOT NULL,
	[ShowSeatID] [int] IDENTITY(1,1) NOT NULL,
	[Color] [varchar](50) NOT NULL,
	[SeatRow] [int] NOT NULL,
	[SeatRowLetter] [varchar](1) NULL,
	[SeatNumber] [int] NOT NULL,
	[SeatNumberLetter] [varchar](1) NULL,
	[Price] [real] NULL,
	[Extra] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShowSeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatReservation]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatReservation](
	[EventID] [int] NOT NULL,
	[SeatID] [int] NOT NULL,
	[IsReserved] [bit] NULL,
	[TimeReserved] [datetime] NULL,
	[Price] [real] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Availability]  WITH CHECK ADD FOREIGN KEY([HallID])
REFERENCES [dbo].[Hall] ([HallID])
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD FOREIGN KEY([HallID])
REFERENCES [dbo].[Hall] ([HallID])
GO
ALTER TABLE [dbo].[HallGroup]  WITH CHECK ADD FOREIGN KEY([HallID])
REFERENCES [dbo].[Hall] ([HallID])
GO
ALTER TABLE [dbo].[HallSeat]  WITH CHECK ADD FOREIGN KEY([HallGroupID])
REFERENCES [dbo].[HallGroup] ([HallGroupID])
GO
ALTER TABLE [dbo].[SeatReservation]  WITH CHECK ADD FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[SeatReservation]  WITH CHECK ADD FOREIGN KEY([SeatID])
REFERENCES [dbo].[HallSeat] ([ShowSeatID])
GO
/****** Object:  StoredProcedure [dbo].[DeleteAvailability]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteAvailability] @Start DateTime, @End DateTime, @HallID Int
AS
delete from Availability WHERE AvailStart <  @Start and AvailEnd >  @End and HallID=@HallID
GO
/****** Object:  StoredProcedure [dbo].[DeleteSeat]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeleteSeat] @eventid int, @seatid int
as
delete from SeatReservation where EventID=@eventid and SeatID=@seatid
GO
/****** Object:  StoredProcedure [dbo].[FindEvent]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[FindEvent] @Name varchar(50), @EndTime DateTime, @HallID Int, @StartTime DateTime
AS
select EventID from Event where Name=@Name and HallID=@HallID and StartTime=@StartTime and EndTime= @EndTime
GO
/****** Object:  StoredProcedure [dbo].[FindSeat]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FindSeat] @eventid int, @row int, @rowletter varchar(1), @number int, @numberletter varchar (1), @name varchar(50)
AS
select SeatReservation.SeatID From Event Inner join Hall on Event.HallID=Hall.HallID Inner join HallGroup on Hall.HallID=HallGroup.HallID Inner join HallSeat on HallGroup.HallGroupID=HallSeat.HallGroupID left join SeatReservation on Event.EventID=SeatReservation.EventID AND HallSeat.ShowSeatID=SeatReservation.SeatID where Event.EventID = @eventid and HallGroup.Name = @name and HallSeat.SeatRow = @row and HallSeat.SeatRowLetter = @rowletter and HallSeat.SeatNumber = @number and HallSeat.SeatNumberLetter = @numberletter
GO
/****** Object:  StoredProcedure [dbo].[FindSeatID]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FindSeatID] @groupid int, @row int, @rowletter varchar(1), @number int, @numberletter varchar(1)
AS
SELECT ShowSeatID FROM HallSeat where HallGroupID=@groupid and SeatRow=@row and SeatRowLetter=@rowletter and SeatNumber=@number and SeatNumberLetter=@numberletter
GO
/****** Object:  StoredProcedure [dbo].[GetDistinctColumnNumbers]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDistinctColumnNumbers] @groupid int, @eventid int
AS
select distinct SeatNumber, SeatNumberLetter from HallSeat where HallGroupID=@groupid and (Extra=0 or Extra=@eventid)
GO
/****** Object:  StoredProcedure [dbo].[GetDistinctGroupsByEventID]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetDistinctGroupsByEventID] @eventid int
as
select distinct HallGroup.Name from Event Inner join Hall on Event.HallID= Hall.HallID Inner join HallGroup on Hall.HallID=HallGroup.HallID where EventID=@eventid
GO
/****** Object:  StoredProcedure [dbo].[GetDistinctRowNumbers]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetDistinctRowNumbers] @groupid int, @eventid int
AS
select distinct SeatRow, SeatRowLetter from HallSeat where HallGroupID=@groupid and (Extra=0 or Extra=@eventid)
GO
/****** Object:  StoredProcedure [dbo].[GetEvents]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetEvents]
AS
Select * FROM Event
GO
/****** Object:  StoredProcedure [dbo].[GetEventsByHallID]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetEventsByHallID] @hallID int
AS
select * from Event where HallID=@hallID
GO
/****** Object:  StoredProcedure [dbo].[GetGroupID]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetGroupID] @name varchar (50), @hallid int
AS
Select HallGroupID FROM HallGroup WHERE Name=@name and HallID = @hallid
GO
/****** Object:  StoredProcedure [dbo].[GetGroupsByEventID]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetGroupsByEventID] @eventid int
as
select HallGroup.Name, HallGroup.HallGroupID, HallGroup.HallID from Event Inner join Hall on Event.HallID= Hall.HallID Inner join HallGroup on Hall.HallID=HallGroup.HallID where EventID=@eventid
GO
/****** Object:  StoredProcedure [dbo].[GetHallGroups]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetHallGroups] @HallID int
AS
Select * FROM HallGroup WHERE HallID=@HallID
GO
/****** Object:  StoredProcedure [dbo].[GetHallID]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetHallID] @eventid Int
AS
Select * FROM Event WHERE EventID=@eventid
GO
/****** Object:  StoredProcedure [dbo].[GetHalls]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetHalls]
AS
Select * FROM Hall
GO
/****** Object:  StoredProcedure [dbo].[GetReserved]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetReserved]
as
select SeatReservation.EventID, SeatReservation.TimeReserved, HallGroup.Name, HallSeat.SeatRow, HallSeat.SeatRowLetter, HallSeat.SeatNumber, HallSeat.SeatNumberLetter from SeatReservation 
full join HallSeat on HallSeat.ShowSeatID=SeatReservation.SeatID
full join HallGroup on HallGroup.HallGroupID=HallSeat.HallGroupID
where SeatReservation.IsReserved=1
GO
/****** Object:  StoredProcedure [dbo].[GetRowData]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRowData] @groupid int, @row int, @rowletter varchar(1), @eventid int
AS
select HallSeat.SeatNumber, HallSeat.SeatNumberLetter, SeatReservation.Price from HallSeat Full join SeatReservation on HallSeat.ShowSeatID=SeatReservation.SeatID where HallGroupID=@groupid and SeatRow = @row and SeatRowLetter = @rowletter and EventID=@eventid and (HallSeat.Extra=0 or HallSeat.Extra=@eventid)
GO
/****** Object:  StoredProcedure [dbo].[GetSeatExtraByID]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetSeatExtraByID] @seatid int
as
select Extra from HallSeat where ShowSeatID=@seatid
GO
/****** Object:  StoredProcedure [dbo].[GetSeats]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetSeats] @eventid int
AS
select HallGroup.Name, HallSeat.SeatRow, HallSeat.SeatRowLetter, HallSeat.SeatNumber, HallSeat.SeatNumberLetter From Event Inner join Hall on Event.HallID=Hall.HallID Inner join HallGroup on Hall.HallID=HallGroup.HallID Inner join HallSeat on HallGroup.HallGroupID=HallSeat.HallGroupID left join SeatReservation on Event.EventID=SeatReservation.EventID AND HallSeat.ShowSeatID=SeatReservation.SeatID where Event.EventID = @eventid and SeatReservation.IsReserved=0
GO
/****** Object:  StoredProcedure [dbo].[GetSeatsByGroup]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSeatsByGroup] @HallGroupID int
AS
Select * FROM HallSeat WHERE HallGroupID=@HallGroupID
GO
/****** Object:  StoredProcedure [dbo].[GetSeatsWithPrice]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSeatsWithPrice] @eventid int
AS
select HallGroup.Name, HallSeat.SeatRow, HallSeat.SeatRowLetter, HallSeat.SeatNumber, HallSeat.SeatNumberLetter, SeatReservation.Price From Event 
Inner join Hall on Event.HallID=Hall.HallID Inner join HallGroup on Hall.HallID=HallGroup.HallID 
Inner join HallSeat on HallGroup.HallGroupID=HallSeat.HallGroupID 
left join SeatReservation on Event.EventID=SeatReservation.EventID AND HallSeat.ShowSeatID=SeatReservation.SeatID where Event.EventID = @eventid and (HallSeat.Extra=0 or HallSeat.Extra=@eventid)
GO
/****** Object:  StoredProcedure [dbo].[GetTicketLimit]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetTicketLimit] @HallID Int
AS
Select TicketLimit FROM Hall WHERE HallID=@HallID
GO
/****** Object:  StoredProcedure [dbo].[InsertAvailability]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertAvailability] @Start DateTime, @End DateTime, @HallID Int
AS
insert into Availability values(@Start,@End, @HallID)
GO
/****** Object:  StoredProcedure [dbo].[InsertEvent]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertEvent] @Name varchar(50), @EndTime DateTime, @HallID Int, @StartTime DateTime
AS
insert into Event Values(@Name, @HallID, @StartTime, @EndTime)
GO
/****** Object:  StoredProcedure [dbo].[InsertHall]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertHall] @Name varchar(50), @HallID Int, @TicketLimit int
AS
INSERT INTO Hall VALUES (@HallID,@Name,@TicketLimit)
GO
/****** Object:  StoredProcedure [dbo].[InsertHallGroup]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertHallGroup] @Name varchar(50), @HallID Int, @HallGroupID int, @AZ int
AS
INSERT INTO HallGroup VALUES (@HallID,@HallGroupID,@Name,@AZ)
GO
/****** Object:  StoredProcedure [dbo].[InsertHallSeat]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertHallSeat] @Color varchar(50), @HallGroupID int, @SeatRow int, @SeatRowLetter varchar(1), @SeatNumber int, @SeatNumberLetter varchar(1), @Price real, @Extra int
AS
INSERT INTO HallSeat VALUES (@HallGroupID,@Color,@SeatRow,@SeatRowLetter,@SeatNumber,@SeatNumberLetter, @Price, @Extra)
GO
/****** Object:  StoredProcedure [dbo].[InsertReservation]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertReservation] @eventid Int, @seatid int, @reserved bit, @time Datetime, @price real
AS
insert into SeatReservation values(@eventid,@seatid, @reserved, @time, @price)
GO
/****** Object:  StoredProcedure [dbo].[IsAvailable]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IsAvailable] @EventStart DateTime, @EventEnd DateTime, @HallID Int
AS
Select * FROM Availability WHERE AvailStart <  @EventStart and AvailEnd >  @EventEnd and HallID=@HallID
GO
/****** Object:  StoredProcedure [dbo].[IsReserved]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IsReserved] @seatid int, @eventid int
AS
Select IsReserved FROM SeatReservation WHERE SeatID = @seatid and EventID = @eventid
GO
/****** Object:  StoredProcedure [dbo].[MarkReserved]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[MarkReserved] @HallGroupID int, @SeatRow int, @SeatRowLetter varchar(1), @SeatNumber int, @SeatNumberLetter varchar (1)
AS
select * from HallSeat where HallGroupID=@HallGroupID AND SeatRow=@SeatRow AND SeatRowLetter=@SeatRowLetter and SeatNumber=@SeatNumber and SeatNumberLetter=@SeatNumberLetter
GO
/****** Object:  StoredProcedure [dbo].[UpdateAvailabity]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateAvailabity] @EventStart DateTime, @EventEnd DateTime, @HallID Int
AS
UPDATE Availability SET AvailStart = @EventStart, AvailEnd = @EventEnd WHERE AvailStart <  @EventStart and AvailEnd > @EventEnd and HallID=@HallID
GO
/****** Object:  StoredProcedure [dbo].[UpdatePrice]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdatePrice] @seatid int, @price real, @eventid int
AS
UPDATE SeatReservation SET Price=@price WHERE SeatID=@seatid and EventID=@eventid;
GO
/****** Object:  StoredProcedure [dbo].[UpdateReservation]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateReservation] @reserved bit, @time Datetime, @eventid int, @seatid int
as
UPDATE SeatReservation
SET IsReserved = @reserved, TimeReserved = @time
WHERE EventID=@eventid and SeatID=@seatid
GO
/****** Object:  StoredProcedure [dbo].[UpdateSeat]    Script Date: 11/7/2025 9:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateSeat] @groupid int, @row int, @rowletter varchar(1), @number int, @numberletter varchar(1), @seatid int
as
update HallSeat set HallGroupID=@groupid, SeatRow=@row, SeatRowLetter=@rowletter, SeatNumber=@number, SeatNumberLetter=@numberletter where ShowSeatID=@seatid
GO
USE [master]
GO
